body {
	font-family: Century Gothic, Helvetica, Arial, Sans;
}

.topBar {
	border-top: 5px solid #800000;
	border-bottom: 1px solid #800000;
	position: fixed;
	padding-top: 18px;
	background-color: #FFFFFF;
	
	z-index: 100;
}
h1, h3, h4 {
	margin: 0;
	padding: 0;
	line-height: 1;
}

h1 {
	color: #800000;
}

#slug {
	font-size: 150%;
}

#topMenu {
	list-style: none;
	text-align: center;
	font-size: 150%;
}

#main {
	padding-top: 128px;
	padding-bottom: 32px;
}

#footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #800000;
	text-align: center;
	background-color: #FFFFFF;
	list-style: none;
	font-size: 112.5%;
}

#footer img {
	
	vertical-align: middle;
}

p {
	text-align: justify;
}

a:link{
	color: #800000;
	text-decoration: none;
}
a:visited{
	color: #800000;
}
a:hover{
	color: #800000;
}
a:active{
	color: #800000;
}

.portfolioItem {
	margin-bottom: 16px;
}

.portfolioItem img {
	height: 117px;
}

.portfolioItem p {
	margin: 0;
	padding: 0;
}

h3, h4{
	font-weight: bold;
}

h4 {	
	display: inline;
}