body {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 11pt;
    margin: 0;
}

.wrapper {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    background-image: url(bg.png);
    position: fixed;
    width: 710px;
}

.title {
    font-size: 16pt;
    text-align: center;
    border-bottom: 2px solid rgb(128,0,0);
    background-image: url(tree.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 110px;
}

h1 {
    font-size: 22pt;
    color: rgb(128,0,0);
    margin-bottom: 0px;
    padding-top: 1em;
}

.mainMenu {
    border-bottom: 2px solid rgb(128,0,0);
}

.mainMenu ul {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    height: 2.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1em;
}

    .mainMenu li {
        display: inline-block;
        font-size: 16pt;
        zoom: 1;
        *display: inline;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mainMenu ul:nth-child(n) {
        padding-left: 0;
        padding-right: 0;
    }

    .mainMenu ul:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

.content {
    padding-top: 170px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}