body {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 11pt;
    margin: 0;
}

.wrapper {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    width: 100%;
    max-width: 710px;
}

.title {
    font-size: 16pt;
    text-align: left;
    border-bottom: 2px solid rgb(128,0,0);
    height: 70px;
}

    .title:before {
        content: url(/resources/images/treePrint.png);
        float:left;
    }

h1, h2, h3, h4, h5, h6, strong, h1 a {
    color: rgb(128,0,0);
}

h1 {
    font-size: 22pt;
    margin-bottom: 0;
	margin-top: 0;
}



.content {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

.footer {
	text-align: center;
	color: #AAA;
	
	margin-bottom: 1em;
}

	.footer blockquote {
		padding: 0;
		margin-top: 1em;
		background-image: none;
		border: none;
	}
	
		.footer blockquote:before  {
			content: '\201c';
		}
		
		.footer blockquote:after {
			content: '\201d';
		}
	
	.footer cite:before {
		content: "- ";
	}

.gh-ribbon, .cookies, #cc-tag, .mainMenu, .subMenu, .amazon, iframe {
    display: none;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
}

    a img {
        border: none;
    }

.cultureImage {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 18.25px;
}

blockquote {
	font-style: italic;
	background-image: url(/resources/images/openquote.png), url(/resources/images/closequote.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left 1em top 1em, right 1em bottom 1em;
	
	margin:0;
	padding-left: 40px;
	padding-right: 40px;
	border-left: 5px solid rgb(128,0,0);
}

blockquote.cultureQuote {
	margin-left: 215px;
}