body {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 11pt;
    margin: 0;
}

.wrapper {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
	
	margin-top: -21px;
}

.head {
    background-image: url(/resources/images/bg.png);
    position: fixed;
    width: 710px;
}

.title {
    font-size: 16pt;
    text-align: center;
    border-bottom: 2px solid rgb(128,0,0);
    background-image: url(/resources/images/tree.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 110px;
}

h1, h2, h3, h4, h5, h6, strong {
    color: rgb(128,0,0);
}

h1 {
    font-size: 22pt;
    margin-bottom: 0;
	margin-top: 0;
    padding-top: 1em;
}

.mainMenu, .subMenu {
    border-bottom: 2px solid rgb(128,0,0);
}

    .mainMenu ul, .subMenu ul {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .mainMenu ul {
        text-align: justify;
        height: 2.5em;
        padding-top: 1em;
    }

    .mainMenu li, .subMenu li {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    .mainMenu li {
        font-size: 16pt;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mainMenu ul li:nth-child(n+0) {
        padding-left: 0;
        padding-right: 0;
    }

    .mainMenu ul:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

    .subMenu li {
        padding-right: 2em;
    }

.content {
    padding-top: 175px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

.footer {
	text-align: center;
	color: #AAA;
}

	.footer blockquote {
		font-style: italic;
		margin-bottom: 0;
	}
	
		.footer blockquote:before, .footer blockquote:after {
			content: '"';
		}
	
	.footer cite:before {
		content: "- ";
	}

.gh-ribbon {
    position: fixed;
    right: 0;
    top: 0;
}

a {
    color: rgb(128,0,0);
}

    a img {
        border: none;
    }

h1 a, li a {
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.cultureImage {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 18.25px;
}

.amazon {
	text-align: center;
}

.cookies {
	position: fixed;
	right: 0;
	bottom: 0;
}