$body-font: 'Josefin Slab', serif;
$header-font: 'underscore', 'Amatic SC', cursive;

$scale-root: (6/5);
$base-font-size: 16pt;
$line-height: 1.6;
$line-divisions: 2;

$mobile-switch-min: 57rem;
$mobile-switch-max: $mobile-switch-min - 0.01;
