body
{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $white;

  > svg
  {
    width: 100%;
    height: auto;

    order: 10;
  }

  > *
  {
    width: 100%;
  }
}

.masthead
{
  order: 20;

  display: flex;
  margin-top: line-measure(-.5);

  max-width: 90rem;
  li
  {
    display: flex;
    align-items: flex-end;

    svg
    {
      height: line-measure(1);
      width: auto;
    }
  }
}

@media (min-width: $mobile-switch-min) {
  .masthead
  {
    justify-content: space-around;
    align-content: flex-end;
    flex-direction: row;

    .masthead-title { order: 20; }
    .masthead-email { order: 10; }
    .masthead-twitter { order: 30; }
  }
}

@media (max-width: $mobile-switch-max) {
  .masthead
  {
    flex-direction: column;
    align-items: center;

    .masthead-title { order: 10; }
    .masthead-email { order: 20; }
    .masthead-twitter { order: 30; }
  }
}

.contact, .main-menu > ul
{
  display: flex;
  justify-content: space-around;
}

.main-menu
{
  order: 30;

  border-bottom: 4px solid $black;
  max-width: 90rem;
}

.frame
{
  order: 40;

  display: flex;
  max-width: 90rem;
}

.side-menu
{
  width: 100%;
  max-width: 13rem;

  ul
  {
    @include font-modular-scale(3);
    font-family: $header-font;
  }
}

main
{
  max-width: 60rem;
  margin-right: auto;
}

@media (min-width: $mobile-switch-min)
{
  .frame
  {
    flex-direction: row;
  }

  .side-menu
  {
    order: 10;
    margin-top: line-measure(2);
    margin-right: 2rem;
    text-align: right;
  }

  main
  {
    order: 20;
  }
}

@media (max-width: $mobile-switch-max)
{
  .frame
  {
    flex-direction: column;
  }

  .side-menu
  {
    order: 20;
    margin-top: 0;
    margin-right: 0;
    text-align: left;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  main
  {
    order: 10;

    padding-left: 1rem;
    padding-right: 1rem;
  }
}

audio
{
  width: 100%;
  height: line-measure(1.5);
}

p
{
  margin-bottom: line-measure(0.5);
}
