<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ page.title }}</title>
    <style type="text/css" media="screen">
        @import url(resources/styles.css);
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="title">
                <h1>Evan Williams</h1>
                <span class="subtitle">evan@natcs.eu</span>
            </div>
            <div class="mainMenu">
                <ul>
                    <li>About</li>
                    <li>Programming</li>
                    <li>Game Design</li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>

    <div class="gh-ribbon">
        <a href="https://github.com/malacandrian">
            <img src="resources/github.png" alt="Fork me on Github" />
        </a>
    </div>
</body>
</html>
