<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Evan Williams :: {{ page.title }}</title>
	<meta charset="UTF-8">
    <style type="text/css" media="screen">
        @import url(/resources/css/screen.css);
    </style>
	
	<style type="text/css" media="print">
		@import url(/resources/css/print.css);
	</style>
    <script type="text/ecmascript" src="/src/adventure.js" ></script>
	
	<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<link rel="stylesheet" type="text/css" href="http://assets.cookieconsent.silktide.com/current/style.min.css"/>
<script type="text/javascript" src="http://assets.cookieconsent.silktide.com/current/plugin.min.js"></script>
<script type="text/javascript">
// <![CDATA[
cc.initialise({
	cookies: {
		analytics: {}
	},
	settings: {
		consenttype: "implicit",
		style: "light",
		bannerPosition: "push",
		hideprivacysettingstab: true,
		onlyshowbanneronce: true,
		disableallsites: true
	}
});
// ]]>
</script>
<!-- End Cookie Consent plugin -->

</head>
<body onload="gameInit()">
    <script type="text/plain" class="cc-onconsent-analytics">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50526180-1', 'natcs.eu');
ga('require', 'displayfeatures');
ga('send', 'pageview');
</script>
    <div class="wrapper">
        <div class="head">
            <div class="title">
                <h1><a href="/">Evan Williams</a></h1>
                <span class="subtitle">evan@williams.ee</span>
            </div>
            <div class="mainMenu">
                <ul>
                    {% for item in site.data.pages %}
                        <li><a href="{{ item.Link }}" {% if page.category == item.Title %}class="active" {% assign SubMenu = item.SubMenu %}{% endif %}>{{ item.Title }}</a></li> 
                    {% endfor %}
                </ul>
            </div>
            {% if SubMenu %}
                <div class="subMenu">
                    <ul>
                        {% for item in SubMenu %}
                            {% capture link %}{{ item.Link }}index.html{% endcapture %}
                            <li><a href="{{ item.Link }}" {% if link == page.url %} class="active"{% endif %}>{{ item.Title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>
        <div class="content">
            {{ content }}
			
			<div class="footer">
				<blockquote>The best way to predict the future is to invent it</blockquote>
				<cite>Alan Kay</cite>
				<p class="cookies"><a onclick="cc.showmodal()">Change cookie options</a></p>
			</div>
        </div>
    </div>

    <div class="gh-ribbon">
        <a href="https://github.com/malacandrian">
            <img src="/resources/images/github.png" alt="Fork me on Github" />
        </a>
    </div>
</body>
</html>
