<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include masthead.svg %}
    <ul class="masthead">
      <li class="masthead-title"><h1><a href="/">evan.williams.ee</a></h1></li>
      <li class="masthead-email"><a href="mailto:evan@williams.ee">{% include mail.svg %}evan@williams.ee</a></li>
      <li class="masthead-twitter"><a href="https://twitter.com/evan_williams">@Evan_Williams{% include twitter.svg %}</a></li>
    </ul>
    <div class="frame">
      <main>
        <h2>{{page.title}}</h2>
        {{ content }}
      </main>
    </div>
  </body>
</html>
