vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Jan 2011 00:19:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Amos\\Evan
vti_modifiedby:SR|Amos\\Evan
vti_timecreated:TR|16 Jan 2011 00:19:27 -0000
vti_cacheddtm:TX|16 Jan 2011 00:19:27 -0000
vti_filesize:IR|2748
vti_backlinkinfo:VX|index.htm dev.htm projects.htm
vti_syncwith_ftp.natcs.eu\:21/%2fpublic_html:TX|16 Jan 2011 00:19:27 -0000
vti_syncofs_ftp.natcs.eu\:21/%2fpublic_html:TW|05 Jul 2012 00:05:32 -0000
